@import "../scss/variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    height: 100%;
    box-sizing: border-box;
    font-size: 62.5% !important; // 10px/16px = 62.5% -> 1rem = 10px
   
  
    @media only screen and (max-width: $bp-largest) {
      font-size: 50% !important;
    }
  }


  body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    color: $color-black;
    background-color: $color-white;
    font-family: $font-family;
     line-height: $line-height;
  
  
  
     .active{
      border-bottom: 2px solid $nav-link-color!important;
     }
  }